.cli-reference[data-theme="dark"] {
  --primary-color: #4C566A;
  --secondary-color: #434C5E;
  --font-color: #ECEFF4;
  --active-font-color: #ffffff;
  --bg-color: #2E3440;
  --bg-secondary-color: #3B4252;
  --accent-primary-color: #81A1C1;
}

.cli-reference[data-theme="light"] {
  --primary-color: #D8DEE9;
  --secondary-color: #E5E9F0;
  --font-color: #2E3440;
  --active-font-color: #111111;
  --bg-color: #fff;
  --bg-secondary-color: #D8DEE9;
  --accent-primary-color: #5E81AC;
}

.cli-reference {
  background-color: var(--bg-color);
  display: flex;
  min-height: 100vh;
  min-width: 100%;

  .spacing {
    padding: 40px;
  }

  .nav {
    height: 100%;
  }
  
  color: var(--font-color);
  font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;

  .content {
    flex: 1;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}